@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: 'Sharp Grotesk Bold';
  src: url('assets/fonts/SharpGroteskBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display Roman';
  src: url('assets/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display Roman Italic';
  src: url('assets/fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  background-color: #242424;
}

.settings {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 8px auto 0;
  justify-content: center;
  gap: 300px;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings__label {
  font-family: 'Sharp Grotesk Bold', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #EF9898;
}

.settings__button {
  width: 18px !important;
  justify-content: end !important;
  border-radius: 8px !important;
}

.human-color {
  color: #77AA76;
}

.ai-color {
  color: #FDE48B;
}
